
<div *ngIf="pinnedVintage">
    <h2><span jhiTranslate="cavavinApp.pinnedVintage.detail.title">Pinned Vintage</span> {{pinnedVintage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cavavinApp.pinnedVintage.userId">User Id</span></dt>
        <dd>
            <span>{{pinnedVintage.userId}}</span>
        </dd>
        <dt><span jhiTranslate="cavavinApp.pinnedVintage.vintage">Vintage</span></dt>
        <dd>
            <div *ngIf="pinnedVintage.vintage">
                <a [routerLink]="['/vintage', pinnedVintage.vintage?.id]">{{pinnedVintage.vintage?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pinned-vintage/'+ pinnedVintage.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
