
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWineInCellarLabel" data-translate="cavavinApp.wineInCellar.home.createOrEditLabel">Create or edit a Wine In Cellar</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.wineInCellar.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.wineInCellar.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavavinApp.wineInCellar.minKeep" for="field_minKeep">Min Keep</label>
            <input type="number" class="form-control" name="minKeep" id="field_minKeep"
                    ng-model="vm.wineInCellar.minKeep"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavavinApp.wineInCellar.maxKeep" for="field_maxKeep">Max Keep</label>
            <input type="number" class="form-control" name="maxKeep" id="field_maxKeep"
                    ng-model="vm.wineInCellar.maxKeep"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavavinApp.wineInCellar.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.wineInCellar.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavavinApp.wineInCellar.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                    ng-model="vm.wineInCellar.quantity"
                    required/>
            <div ng-show="editForm.quantity.$invalid">
                <p class="help-block"
                    ng-show="editForm.quantity.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.quantity.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="cavavinApp.wineInCellar.comments" for="field_comments">Comments</label>
            <input type="text" class="form-control" name="comments" id="field_comments"
                    ng-model="vm.wineInCellar.comments"
                    />
        </div>
        <div class="form-group">
            <label data-translate="cavavinApp.wineInCellar.cellarId" for="field_cellarId">Cellar</label>
            <select class="form-control" id="field_cellarId" name="cellarId" ng-model="vm.wineInCellar.cellarId" ng-options="cellar.id as cellar.id for cellar in vm.cellars"            >
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="cavavinApp.wineInCellar.vintage" for="field_vintage">Vintage</label>
            <select class="form-control" id="field_vintage" name="vintage" ng-model="vm.wineInCellar.vintage" ng-options="vintage as vintage.id for vintage in vm.vintages track by vintage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
