<div>
    <h2>
        <span jhiTranslate="cavavinApp.wineInCellar.home.title">Wine In Cellars</span>
        <button class="btn btn-primary float-right jh-create-entity create-wine-in-cellar" [routerLink]="['/', { outlets: { popup: ['wine-in-cellar-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="cavavinApp.wineInCellar.home.createLabel">
            Create new Wine In Cellar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'cavavinApp.wineInCellar.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="wineInCellars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="minKeep"><span jhiTranslate="cavavinApp.wineInCellar.minKeep">Min Keep</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxKeep"><span jhiTranslate="cavavinApp.wineInCellar.maxKeep">Max Keep</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="cavavinApp.wineInCellar.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="cavavinApp.wineInCellar.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comments"><span jhiTranslate="cavavinApp.wineInCellar.comments">Comments</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="location"><span jhiTranslate="cavavinApp.wineInCellar.location">Location</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cellarId"><span jhiTranslate="cavavinApp.wineInCellar.cellarId">Cellar Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vintage.id"><span jhiTranslate="cavavinApp.wineInCellar.vintage">Vintage</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let wineInCellar of wineInCellars ;trackBy: trackId">
                <td><a [routerLink]="['../wine-in-cellar', wineInCellar.id ]">{{wineInCellar.id}}</a></td>
                <td>{{wineInCellar.minKeep}}</td>
                <td>{{wineInCellar.maxKeep}}</td>
                <td>{{wineInCellar.price}}</td>
                <td>{{wineInCellar.quantity}}</td>
                <td>{{wineInCellar.comments}}</td>
                <td>{{wineInCellar.location}}</td>
                <td>{{wineInCellar.cellarId}}</td>
                <td>
                    <div *ngIf="wineInCellar.vintage">
                        <a [routerLink]="['../vintage', wineInCellar.vintage?.id ]" >{{wineInCellar.vintage?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../wine-in-cellar', wineInCellar.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wine-in-cellar/'+ wineInCellar.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wine-in-cellar/'+ wineInCellar.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
