<div>
    <h2>
        <span jhiTranslate="cavavinApp.vintage.home.title">Vintages</span>
        <button class="btn btn-primary float-right jh-create-entity create-vintage" [routerLink]="['/', { outlets: { popup: ['vintage-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cavavinApp.vintage.home.createLabel">
            Create new Vintage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vintages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cavavinApp.vintage.year">Year</span></th>
            <th><span jhiTranslate="cavavinApp.vintage.bareCode">Bare Code</span></th>
            <th><span jhiTranslate="cavavinApp.vintage.wine">Wine</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vintage of vintages ;trackBy: trackId">
                <td><a [routerLink]="['../vintage', vintage.id ]">{{vintage.id}}</a></td>
                <td>{{vintage.year}}</td>
                <td>{{vintage.bareCode}}</td>
                <td>
                    <div *ngIf="vintage.wine">
                        <a [routerLink]="['../wine', vintage.wine?.id ]" >{{vintage.wine?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vintage', vintage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vintage/'+ vintage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vintage/'+ vintage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
